html
    head
        title!= title
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css', rel='stylesheet')
        link(href='/static/css/style.css', rel='stylesheet')
        script(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.js')
    body
        div.danger
            h1!= message