.content {
    margin-left: 3%;
    margin-right: 3%;
}

.content div {
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid #cccccc;
}
.content a {
    text-decoration: none;
}

.content div:hover {
    text-decoration: none;
    background-color: #fafafa;
}

.title, .created-date {
    color: #333333;
    font-size: 13pt;
}

.author {
    margin-left: 5px;
    color: #999999;
    font-size: 13pt;
}

.button {
    color: #333333;
    display: inline;
}

.pull-right {
    margin-left: 95%;
}

div.banner {
    background-color: #333333;
    color: white;
    padding: 30px;
}

div.banner a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.link-home {
    text-decoration: none;
    color: black;
    font-size: 16pt;
}
.refresh-button {
    margin-left: 85%;
}

.jumbotron {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 15%;
}